{{#if resume.work.length}}
<section>
	<h2>Work</h2>
	{{#each resume.work}}
    {{> section-item title=position website=website subtitle=name startDate=startDate endDate=endDate text=summary list=highlights}}
	{{/each}}
</section>
{{/if}}